Repository SovereignCloudStack/standards, pull requests merged in 2023-02, with the labels that each got.

#200 Propose to stabilize the folder structure for standards.
  Decisions/scs-0002-v1-standards-docs-org.md
Labels: work in progress, standards, SCS is understandable

#201 Propose to stabilize the new k8s version adoption std.
  Decisions/scs-0210-v1-k8s-new-version-policy.md
Labels: work in progress, Container, standards

#226 Feat/new flavor scheme
  Decisions/scs-0110-v1-ssd-flavors.md
  Standards/scs-0100-v2-flavor-naming.md
  Tests/iaas/SCS-Spec.MandatoryFlavors.yaml
  Tests/iaas/flavor-naming/flavor-name-check.py
  Tests/iaas/flavor-naming/flavor-names-openstack.py
  Tests/scs-compatible.yaml
Labels: work in progress, IaaS, standards

#227 Produce input for flavor manager.
  Tests/iaas/flavor-naming/flavor-manager-input.py
Labels: IaaS, SCS enables with an excellent toolbox

#208 Update documentation for federated authentication
  Drafts/IAM-federation/keystone-keycloak-federation.md
Labels: IAM
