Repository SovereignCloudStack/standards, pull requests merged in 2023-06, with the labels that each got.

#294 Feat/flavor v3 make disks recommended
  Standards/scs-0100-v3-flavor-naming.md
  Tests/iaas/SCS-Spec.MandatoryFlavors.verbose.yaml
  Tests/iaas/SCS-Spec.MandatoryFlavors.yaml
  Tests/iaas/flavor-naming/flavor-manager-input.py
  Tests/iaas/flavor-naming/flavor-name-check.py
  Tests/iaas/flavor-naming/flavor-name-describe.py
  Tests/iaas/flavor-naming/flavor-names-openstack.py
  Tests/scs-compatible.yaml
  Tests/testing/scs-compatible-test.yaml
Labels: IaaS, standards, SCS is standardized, Sprint Copenhagen, Sprint Dublin

#237 inserts decisions in the metering VP13
  Standards/scs-0110-v1-gnocchi-as-metering-database.md
  Standards/scs-0111-v1-publishing_method_for_metering_data.md
Labels: SCS-VP13, Sprint Bratislava, Sprint Copenhagen, Sprint Dublin

#297 Revision of scs-0101-v1-entropy
  Standards/scs-0101-v1-entropy.md
Labels: IaaS, SCS is standardized, Sprint Dublin

#302 Propose to stabilize scs-0300 (SSO IdP criteria)
  Standards/scs-0300-v1-requirements-for-sso-identity-federation.md
Labels: IAM

#307 Entropy testing
  .gitignore
  Tests/iaas/entropy/entropy-check.py
  Tests/requirements.txt
Labels: IaaS, SCS is standardized, SCS-VP10
