Repository SovereignCloudStack/standards, pull requests merged in 2023-11, with the labels that each got.

#365 Added classification field to the check tool descriptor
  Standards/scs-0003-v1-sovereign-cloud-standards-yaml.md
  Tests/scs-compliance-check.py
Labels: SCS is standardized, SCS-VP10

#364 Forbid using CPU generation without CPU vendor
  Standards/scs-0100-v3-flavor-naming.md
Labels: bug, SCS-VP10

#372 Fix/fix cpuvendor example
  Standards/scs-0100-v3-flavor-naming.md
Labels: standards

#354 K8s node distribution standard (#434)
  Standards/scs-0214-v1-k8s-node-distribution.md
Labels: Container, standards, SCS is standardized, SCS-VP10

#377 Add units for disk and ram size of images
  Standards/scs-0102-v1-image-metadata.md
Labels: bug, IaaS, standards, SCS-VP10

#360 Add tests for default storage class properties
  .gitignore
  Tests/kaas/k8s-default-storage-class/Dockerfile_sonobuoy_plugin
  Tests/kaas/k8s-default-storage-class/helper.py
  Tests/kaas/k8s-default-storage-class/k8s-default-storage-class-check.py
  Tests/kaas/k8s-default-storage-class/k8s-default-storage-class-plugin.yaml
  Tests/kaas/k8s-default-storage-class/run_checks.sh
Labels: Container, SCS is standardized, SCS-VP10

#334 Update standard K8s version policy
  Standards/scs-0210-v2-k8s-version-policy.md
Labels: Container, standards, SCS is standardized, SCS-VP10, Sprint Izmir

#387 Fix some obvious errors in standards headers
  Standards/scs-0002-v2-standards-docs-org.md
  Standards/scs-0100-v1-flavor-naming.md
  Standards/scs-0412-v1-metering-json.md
Labels: SCS is standardized, SCS-VP10
