Repository SovereignCloudStack/standards, pull requests merged in 2023-08, with the labels that each got.

#284 Put PS recommendations into a proposal / ADR
  Standards/scs-0301-v1-naming-conventions.md
Labels: IAM

#318 Add test for k8s version recency (#288)
  Standards/scs-0210-v1-k8s-new-version-policy.md
  Tests/kaas/.gitkeep
  Tests/kaas/k8s-version-recency/config.yaml.template
  Tests/kaas/k8s-version-recency/k8s-version-recency-check.py
  Tests/requirements.txt
Labels: IaaS, Container, SCS is standardized, SCS-VP10

#325 Add procedural standard for scs documentation
  Drafts/scs-0002-v2-standards-docs-org.md
Labels: documentation, standards

#333 Fix/move scs 0002 to standards
  Standards/scs-0002-v2-standards-docs-org.md
Labels: documentation
