Repository SovereignCloudStack/standards, pull requests merged in 2023-12, with the labels that each got.

#321 :sparkles: Adds a new decision record about the requirements when testing cluster-stacks
  Standards/scs-0213-v1-requirements-for-testing-cluster-stacks.md
Labels: Container, standards

#396 Add Octavia support for domain-manager-managed roles by default
  Standards/scs-0302-v1-domain-manager-role.md
Labels: SCS-VP10

#404 Use html.escape for all output that may be user-influenced.
  Tests/iaas/flavor-naming/flavor-form.py
Labels: security, standards

#409 Add reference to the upstream bug about list_domains endpoint
  Standards/scs-0302-v1-domain-manager-role.md
Labels: SCS-VP10

#411 Accept private image_source as set in the standard.
  Tests/iaas/image-metadata/image-md-check.py
Labels: IaaS, standards

#432 Feat/add artcodix
  .github/scs-compliance-check/openstack/clouds.yaml
  .github/workflows/check-artcodix-v3.yml
  README.md
Labels: standards

#433 Fix artcodix compliance badge link
  .github/workflows/check-artcodix-v3.yml
  README.md
Labels: standards
