Repository SovereignCloudStack/standards, pull requests merged in 2023-09, with the labels that each got.

#329 Extend scs-0003: more context and process (resolves issues/#343)
  Standards/scs-0001-v1-sovereign-cloud-standards.md
  Standards/scs-0003-v1-sovereign-cloud-standards-yaml.md
Labels: standards

#319 Decouple standard flavors from flavor naming
  Standards/scs-0100-v3-flavor-naming.md
  Standards/scs-0103-v1-standard-flavors.md
  Tests/iaas/scs-0100-v3-flavors.yaml
  Tests/iaas/scs-0103-v1-flavors.yaml
  Tests/iaas/standard-flavors/flavor-manager-input.py
  Tests/iaas/standard-flavors/flavors-openstack.py
  Tests/testing/scs-compatible-test.yaml
Labels: IaaS, standards, SCS is standardized, Sprint Gothenburg, Sprint Jena

#323 Add document for the volume type decisions
  Standards/scs-0111-v1-volume-type-decisions.md
Labels: IaaS, standards, Sprint Gothenburg

#314 Standardize image names and source URLs (resolves #326)
  Standards/scs-0102-v1-image-metadata.md
  Standards/scs-0104-v1-standard-images.md
  Tests/iaas/scs-0104-v1-images.yaml
  Tests/iaas/standard-images/images-openstack.py
  Tests/testing/scs-compatible-test.yaml
Labels: standards, SCS is standardized, SCS-VP10

#336 Anti-affinity for k8s nodes (#226)
  Standards/scs-0213-v1-k8s-nodes-anti-affinity.md
Labels: Container, standards, SCS is standardized, SCS-VP10
