Repository SovereignCloudStack/standards, pull requests merged in 2024-06, with the labels that each got.

#610 Update appcred ID for artcodix
  .github/scs-compliance-check/openstack/clouds.yaml
Labels: standards

#607 Add k8s v1.30 to k8s-version-policy
  Tests/kaas/k8s-version-policy/k8s-eol-data.yml
Labels: enhancement, Container

#627 Add IaaS v4 compliance check for two syseleven regions.
  .github/scs-compliance-check/openstack/clouds.yaml
  .github/workflows/check-syseleven-dus2-v4.yml
  .github/workflows/check-syseleven-ham1-v4.yml
  README.md
Labels: standards

#581 Kubernetes cluster hardening standard (previously "K8s cluster baseline security")
  Standards/scs-0217-v1-baseline-cluster-security.md
  Standards/scs-0217-v1-cluster-hardening.md
Labels: security, Container, standards, SCS is standardized, SCS-VP10

#644 Cosmetic file changes
  Standards/scs-0001-v1-sovereign-cloud-standards.md
  Standards/scs-0002-v2-standards-docs-org.md
  Standards/scs-0003-v1-sovereign-cloud-standards-yaml.md
  Standards/scs-0004-v1-achieving-certification.md
  Standards/scs-0100-v1-flavor-naming.md
  Standards/scs-0100-v2-flavor-naming.md
  Standards/scs-0100-v3-flavor-naming.md
  Standards/scs-0101-v1-entropy.md
  Standards/scs-0102-v1-image-metadata.md
  Standards/scs-0103-v1-standard-flavors.md
  Standards/scs-0104-v1-standard-images.md
  Standards/scs-0110-v1-ssd-flavors.md
  Standards/scs-0111-v1-volume-type-decisions.md
  Standards/scs-0112-v1-sonic.md
  Standards/scs-0113-v1-security-groups-decision-record.md
  Standards/scs-0114-v1-volume-type-standard.md
  Standards/scs-0115-v1-default-rules-for-security-groups.md
  Standards/scs-0210-v1-k8s-new-version-policy.md
  Standards/scs-0210-v2-k8s-version-policy.md
  Standards/scs-0213-v1-k8s-nodes-anti-affinity.md
  Standards/scs-0215-v1-robustness-features.md
  Standards/scs-0216-v1-requirements-for-testing-cluster-stacks.md
  Standards/scs-0300-v1-requirements-for-sso-identity-federation.md
  Standards/scs-0301-v1-naming-conventions.md
  Standards/scs-0302-v1-domain-manager-role.md
  Standards/scs-0400-v1-status-page-create-decision.md
  Standards/scs-0401-v1-status-page-reference-implementation-decision.md
  Standards/scs-0402-v1-status-page-openapi-spec-decision.md
  Standards/scs-0403-v1-csp-kaas-observability-stack.md
  Standards/scs-0410-v1-gnocchi-as-metering-database.md
Labels: enhancement, SCS-VP10

#169 Add draft for KaaS LB standard
  Standards/scs-XXXX-vN-kaas_load_balancers.md
Labels: Container, standards
