Repository SovereignCloudStack/standards, pull requests merged in 2024-08, with the labels that each got.

#681 Housekeeping: Bump certifi to 2024.7.4
  Tests/requirements.txt
  compliance-monitor/requirements.txt
Labels: dependencies, SCS is standardized, SCS-VP10

#680 Run pre-check cleanup also in GH actions
  .github/workflows/scs-compliance-check-with-application-credential.yml
  .github/workflows/scs-compliance-check.yml
Labels: SCS is standardized, SCS-VP10

#683 Update the conformance tests readme and Dockerfile
  Tests/Dockerfile
  Tests/README.md
Labels: documentation, SCS is standardized, SCS-VP10

#679 remove misleading output from scs-0100 check
  Tests/iaas/flavor-naming/flavor-names-openstack.py
Labels: SCS is standardized, SCS-VP10

#676 Minor additions and bugfixes to scs-0104-v1 standard and tests
  Standards/scs-0104-v1-standard-images.md
  Tests/iaas/scs-0104-v1-images.yaml
Labels: IaaS, SCS is standardized, SCS-VP10

#413 Feat/add addtl img md checks
  Standards/scs-0102-v1-image-metadata.md
  Tests/iaas/image-metadata/image-md-check.py
Labels: enhancement, IaaS, standards, SCS-VP10

#690 Fix typo: use min_disk property instead of min_disk_size
  Standards/scs-0102-v1-image-metadata.md
Labels: IaaS, SCS-VP10

#701 More indentation for test description.
  Tests/scs-compatible-iaas.yaml
  Tests/scs-compliance-check.py
Labels: enhancement, standards

#645 Feat/flavor0103 add extras
  Tests/iaas/flavor-naming/check_yaml.py
  Tests/iaas/flavor-naming/check_yaml_test.py
  Tests/iaas/flavor-naming/cli.py
  Tests/iaas/flavor-naming/flavor-add-extra-specs.py
  Tests/iaas/flavor-naming/flavor_names.py
  Tests/iaas/scs-0103-v1-flavors.yaml
  Tests/iaas/standard-flavors/flavors-openstack.py
  Tests/testing/scs-0103-v1-flavors-wrong.yaml
Labels: Ops, standards

#682 Add Ubuntu 24.04 as mandatory image, drop mandatory for 22.04
  Tests/iaas/scs-0104-v1-images-v5.yaml
  Tests/scs-compatible-iaas.yaml
Labels: IaaS, SCS is standardized, SCS-VP10

#658 [Standard] KaaS default StorageClass v2 (scs-0211-v2)
  Standards/scs-0211-v2-kaas-default-storage-class.md
Labels: good first issue, Container, SCS-VP10

#720 Fix: scs-0100-v3.2 doesn't exist; it's actually v3.0 and v3.1
  Tests/scs-compatible-iaas.yaml
Labels: bug, SCS is standardized, SCS-VP10
