Repository SovereignCloudStack/standards, pull requests merged in 2024-10, with the labels that each got.

#764 Add current generation CPUs and GPUs.
  Standards/scs-0100-v3-flavor-naming.md
  Tests/iaas/flavor-naming/flavor_names.py
Labels: enhancement, standards

#763 More verbose output: Report passed tests, tool invocations.
  Tests/scs-compliance-check.py
Labels: enhancement, standards

#582 Decision Record: keep capi images recommended
  Standards/scs-0120-v1-capi-images.md
Labels: IaaS, Container, SCS is standardized, SCS-VP10, SCS is opinionated

#751 remove unused table subject
  compliance-monitor/README.md
  compliance-monitor/bootstrap.yaml
  compliance-monitor/monitor.py
  compliance-monitor/sql.py
Labels: SCS-VP10

#780 Feat/add gpu vram
  .markdownlint-cli2.jsonc
  Standards/scs-0100-v3-flavor-naming.md
  Standards/scs-0100-w1-flavor-naming-implementation-testing.md
  Tests/iaas/flavor-naming/cli.py
  Tests/iaas/flavor-naming/flavor_names.py
Labels: standards

#786 Shorten GPU names by dropping h. Fix intel Gen 12.7.
  Standards/scs-0100-w1-flavor-naming-implementation-testing.md
  Tests/iaas/flavor-naming/flavor-name-check.py
  Tests/iaas/flavor-naming/flavor_names.py
Labels: bug, standards
