Repository SovereignCloudStack/standards, pull requests merged in 2024-09, with the labels that each got.

#730 Improve debuggability of cleanup script
  .github/workflows/scs-compliance-check-with-application-credential.yml
  .github/workflows/scs-compliance-check.yml
  Tests/cleanup.py
  playbooks/pre_cloud.yaml
Labels: SCS is standardized, SCS-VP10

#731 Bugfix: reflect (formerly, temporarily) mistaken docs in iaas scope
  Tests/scs-compatible-iaas.yaml
Labels: SCS is standardized, SCS-VP10

#734 Adapt compliance monitor to recent change regarding versions to test
  Tests/scs-compatible-iaas.yaml
  compliance-monitor/monitor.py
Labels: bug, SCS is standardized, SCS-VP10

#750 Drop redundant copying of checkout, run in pod
  .zuul.d/config.yaml
  playbooks/adr_syntax.yaml
  playbooks/compliance_check.yaml
  playbooks/pre.yaml
  playbooks/pre_cloud.yaml
Labels: enhancement, SCS-VP10

#579 Taxonomy of failsafe levels
  Standards/scs-0118-v1-taxonomy-of-failsafe-levels.md
  Standards/scs-0118-w1-example-impacts-of-failure-scenarios.md
Labels: IaaS, Container, SCS-VP10
