Repository SovereignCloudStack/standards, pull requests merged in 2024-02, with the labels that each got.

#361 [Standardization] K8s cluster robustness features (#414)
  Standards/scs-0215-v1-robustness-features.md
Labels: Container, standards, SCS is standardized, SCS-VP10, SCS is opinionated

#474 Fix typo in cleanup.py
  Tests/cleanup.py
  playbooks/pre_cloud.yaml
Labels: SCS is standardized, SCS-VP10

#376 [Standardization] Baseline K8s cluster security (#415)
  Standards/scs-0214-v1-k8s-node-distribution.md
  Standards/scs-0217-v1-baseline-cluster-security.md
Labels: security, Container, standards, SCS is standardized, SCS-VP10

#466 Stabilize SCS-0210-v2
  Standards/scs-0210-v1-k8s-new-version-policy.md
  Standards/scs-0210-v2-k8s-version-policy.md
Labels: standards, SCS is standardized, SCS-VP10

#465 Stabilize SCS-0214-v1
  Standards/scs-0214-v1-k8s-node-distribution.md
Labels: standards, SCS is standardized, SCS-VP10

#462 Stabilize scs-0101-v1 Entropy
  Standards/scs-0101-v1-entropy.md
Labels: SCS is standardized, SCS-VP10

#463 Stabilize scs-0103-v1 Standard Flavors and Properties
  Standards/scs-0103-v1-standard-flavors.md
Labels: SCS is standardized, SCS-VP10

#392 Adds a new decision record about the implementation of sonobuoy as KaaS test suite
  Standards/scs-0200-v1-using-sonobuoy-for-kaas-conformance-tests.md
  Tests/kaas/k8s-default-storage-class/build.sh
  Tests/kaas/k8s-default-storage-class/run_checks.sh
  Tests/kaas/kaas-sonobuoy-go-example-e2e-framework/Dockerfile
  Tests/kaas/kaas-sonobuoy-go-example-e2e-framework/Makefile
  Tests/kaas/kaas-sonobuoy-go-example-e2e-framework/README.md
  Tests/kaas/kaas-sonobuoy-go-example-e2e-framework/go.mod
  Tests/kaas/kaas-sonobuoy-go-example-e2e-framework/go.sum
  Tests/kaas/kaas-sonobuoy-go-example-e2e-framework/plugin.yaml
  Tests/kaas/kaas-sonobuoy-go-example-e2e-framework/scs_k8s_tests/main_test.go
  Tests/kaas/kaas-sonobuoy-go-example-e2e-framework/scs_k8s_tests/main_test.go.template
  Tests/kaas/kaas-sonobuoy-go-example-e2e-framework/scs_k8s_tests/scs_0200_example_test.go
  Tests/kaas/kaas-sonobuoy-go-example-e2e-framework/scs_k8s_tests/scs_0201_example_test.go
  Tests/kaas/kaas-sonobuoy-go-example-e2e-framework/scs_k8s_tests/template_test.go.template
Labels: Container, SCS is continuously built and tested, SCS-VP10

#464 Stabilize scs-0104-v1 Standard Images
  Standards/scs-0104-v1-standard-images.md
Labels: SCS is standardized, SCS-VP10

#487 Stabilize SCS-compatible IaaS v4
  Tests/scs-compatible-iaas.yaml
Labels: SCS is standardized, SCS-VP10

#486 Create conformance test for scs-0214-v1
  Standards/scs-0214-v1-k8s-node-distribution.md
  Tests/kaas/k8s-node-distribution/config.yaml.template
  Tests/kaas/k8s-node-distribution/k8s-node-distribution-check.py
Labels: Container, action required, standards, SCS is continuously built and tested, SCS is standardized, SCS-VP10

#491 Bugfix: fa0de3cdab8d25d99869f40a73109afd0126a4ac missed a Github Action
  .github/workflows/scs-compliance-check-with-application-credential.yml
Labels: bug, action required, SCS is standardized, SCS-VP10
